datasets
# Core
numpy
pandas
scipy
tqdm

# PyTorch & Graphes
torch
torch-geometric

# NLP & Features
transformers
sentence-transformers

# Graph Analysis
networkx==3.6.1
scikit-learn

# Quantique
pennylane

# Clustering
hdbscan

# Visualisation
streamlit
plotly
matplotlib
seaborn
umap-learn

# Utilitaires
kaggle
# Authentification pour Streamlit
streamlit-authenticator>=0.3.2
bcrypt>=4.0.0
